.report-container {
    background-color: transparent;
    padding: 15px;
    border-radius: 10px;
    width: 87vw;
    margin: 20px;
    font-family: "Poppins", sans-serif;
}

.report-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 55px;
}

.form-group-report {
    margin-bottom: 30px;

    label {
        display: flex;
        font-size: 18px;
        margin-bottom: 3px;
    }

    .input-field {
        width: 800px;
        height: 50px;
        border-radius: 8px;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
        background-color: white;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 18px;
        padding: 8px 10px;
        border: 1px solid rgba(0, 102, 175, 0.5);

        &:focus {
            outline: none;
            border-color: rgba(0, 102, 175, 0.5);
        }
    }
}

.button-group-report {
    font-family: "Poppins", sans-serif;
    display: flex;
    margin-top: 35px;

    .export-buttons {
        display: flex;
        padding-left: 870px;
        gap: 25px;
        margin-top: 10px;

        .pdf-btn {
            width: 200px;
            height: 60px;
            background-color: #ed1010;
            color: white;
            border: none;
            padding: 10px 15px;
            border-radius: 8px;
            font-weight: 600;
            font-size: 19px;
            display: flex;
            align-items: center;
            gap: 13px;
            cursor: pointer;

            &:hover {
                background-color: #f44545;
            }
        }

        .excel-btn {
            width: 200px;
            height: 60px;
            background-color: #0fbe1b;
            color: white;
            border: none;
            padding: 10px 15px;
            border-radius: 8px;
            font-weight: 600;
            font-size: 19px;
            display: flex;
            align-items: center;
            gap: 13px;
            cursor: pointer;

            &:hover {
                background-color: #14d721;
            }
        }

        img {
            width: 30px;
            height: 30px;
        }
    }
}

@media (max-width: 1700px) {
    .report-container {
        width: 85vw;

        .report-title {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 55px;
        }

        .form-group-report {
            margin-bottom: 30px;

            label {
                display: flex;
                font-size: 16px;
                margin-bottom: 3px;
            }

            .input-field {
                width: 620px;
                height: 40px;
                border-radius: 8px;
                box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
                background-color: white;
                font-family: "Poppins", sans-serif;
                font-weight: 500;
                font-size: 13px;
                padding: 8px 10px;
                border: 1px solid rgba(0, 102, 175, 0.5);

                &:focus {
                    outline: none;
                    border-color: rgba(0, 102, 175, 0.5);
                }
            }
        }

        .button-group-report {
            font-family: "Poppins", sans-serif;
            display: flex;
            margin-top: 35px;

            .export-buttons {
                display: flex;
                padding-left: 680px;
                gap: 20px;
                margin-top: 10px;

                .pdf-btn {
                    width: 160px;
                    height: 45px;
                    background-color: #ed1010;
                    color: white;
                    border: none;
                    padding: 10px 15px;
                    border-radius: 8px;
                    font-weight: 600;
                    font-size: 15px;
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    cursor: pointer;

                    &:hover {
                        background-color: #f44545;
                    }
                }

                .excel-btn {
                    width: 160px;
                    height: 45px;
                    background-color: #0fbe1b;
                    color: white;
                    border: none;
                    padding: 10px 15px;
                    border-radius: 8px;
                    font-weight: 600;
                    font-size: 15px;
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    cursor: pointer;

                    &:hover {
                        background-color: #14d721;
                    }
                }

                img {
                    width: 23px;
                    height: 23px;
                }
            }
        }
    }
}

@media (max-width: 1440px) {
    .report-container {
        width: 82.5vw;
    }

    .report-title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 55px;
    }

    .form-group-report {
        margin-bottom: 30px;

        label {
            display: flex;
            font-size: 16px;
            margin-bottom: 3px;
        }

        .input-field {
            width: 620px;
            height: 40px;
            border-radius: 8px;
            box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
            background-color: white;
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-size: 13px;
            padding: 8px 10px;
            border: 1px solid rgba(0, 102, 175, 0.5);

            &:focus {
                outline: none;
                border-color: rgba(0, 102, 175, 0.5);
            }
        }
    }

    .button-group-report {
        font-family: "Poppins", sans-serif;
        display: flex;
        margin-top: 35px;

        .export-buttons {
            display: flex;
            padding-left: 680px;
            gap: 20px;
            margin-top: 10px;

            .pdf-btn {
                width: 160px;
                height: 45px;
                background-color: #ed1010;
                color: white;
                border: none;
                padding: 10px 15px;
                border-radius: 8px;
                font-weight: 600;
                font-size: 15px;
                display: flex;
                align-items: center;
                gap: 12px;
                cursor: pointer;

                &:hover {
                    background-color: #f44545;
                }
            }

            .excel-btn {
                width: 160px;
                height: 45px;
                background-color: #0fbe1b;
                color: white;
                border: none;
                padding: 10px 15px;
                border-radius: 8px;
                font-weight: 600;
                font-size: 15px;
                display: flex;
                align-items: center;
                gap: 12px;
                cursor: pointer;

                &:hover {
                    background-color: #14d721;
                }
            }

            img {
                width: 23px;
                height: 23px;
            }
        }
    }
}

@media (max-width: 1280px) {
    .report-container {
        width: 80.5vw;
    }

    .form-group-report {
        .input-field {
            width: 550px;
        }
    }

    .button-group-report {
        .export-buttons {
            padding-left: 600px;
        }
    }
}
