.req-kanban-admin {
    width: 87vw;
    padding: 23px 30px;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;

    .header-admin {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 30px;

        h2 {
            font-size: 30px;
            font-style: italic;
            font-weight: 600;
        }
    }

    .search-box-admin {
        position: relative;
        display: inline-block;

        .img-search-admin {
            position: absolute;
            top: 37%;
            left: 13px;
            transform: translateY(-50%);
            width: 16px;
            height: 16px;
            pointer-events: none;
        }
        input {
            width: 430px;
            height: 45px;
            padding: 0.5rem 0.75rem 0.5rem 2.5rem;
            border: 1px solid rgba(0, 0, 0, 0.35);
            border-radius: 12px;
            font-size: 14px;
        }
    }

    .table-container-admin {
        background-color: white;
        border-radius: 8px;
        overflow: hidden;

        table {
            width: 100%;
            border-collapse: collapse;

            thead {
                th {
                    background-color: #0066af;
                    padding: 0.75rem;
                    text-align: center;
                    color: white;
                    font-size: 18px;
                    font-weight: 600;
                }
            }

            tbody {
                tr {
                    height: 60px;
                    td {
                        padding: 0.65rem;
                        border-bottom: 1px solid #ddd;
                        font-size: 22px;
                        text-align: center;
                        vertical-align: middle;
                    }

                    .status-admin {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 0.35rem 13px;
                        border-radius: 5px;
                        font-size: 14px;
                        font-weight: 600;
                        height: 35px;

                        &.approved_by_pc {
                            background-color: #0fbe1b;
                            color: white;
                        }

                        &.approved_by_department {
                            background-color: #ea7e18;
                            color: white;
                        }

                        &.pending_pc {
                            background-color: #7e29ed;
                            color: white;
                        }

                        &.pending_approval {
                            background-color: #7e29ed;
                            color: white;
                        }

                        &.rejected_by_department {
                            background-color: #ed1010;
                            color: white;
                        }

                        &.rejected_by_pc {
                            background-color: #ed1010;
                            color: white;
                        }
                    }

                    .actions-admin {
                        text-align: left;
                        display: flex;
                        justify-content: center;

                        button {
                            border: none;
                            border-radius: 6px;
                            padding: 0.4rem 0.6rem;
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            &.view-btn-admin {
                                width: 40px;
                                height: 40px;
                                background-color: #219cdf;
                                color: white;

                                &:hover {
                                    background-color: #4ebefa;
                                }
                            }

                            img.img-action-admin {
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                }

                .empty-row-admin {
                    text-align: center;
                    color: #999;
                    font-size: 15px;
                }
            }
        }
    }

    .pagination-admin {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-top: 1.5rem;
        gap: 0.7rem;
        flex-wrap: wrap;

        button {
            padding: 0.5rem 0.8rem;
            color: #0066af;
            cursor: pointer;
            border-radius: 8px;
            font-size: 16px;
            transition: all 0.2s ease;

            &:disabled {
                opacity: 0.4;
                cursor: not-allowed;
            }

            &.active {
                background-color: #0066af;
                color: white;
                font-weight: bold;
                border-color: #007bff;
            }
        }
    }
}

@media (max-width: 1700px) {
    .req-kanban-admin {
        width: 85vw;

        max-height: 87vh;
        overflow-y: auto;

        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* Internet Explorer 10+ */

        &::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Opera */
        }

        .header-admin {
            h2 {
                font-size: 25px;
            }

            .img-search-admin input {
                width: 300px;
                height: 40px;
            }
        }

        .table-container-admin {
            table {
                thead {
                    tr {
                        th {
                            font-size: 15px;
                        }
                    }
                }
                tbody {
                    tr {
                        height: 50px;

                        td {
                            font-size: 15px;
                        }

                        .status-admin {
                            font-size: 11px;
                            height: 30px;
                        }

                        .actions-admin {
                            button {
                                &.view-btn-admin {
                                    width: 30px;
                                    height: 30px;
                                }

                                img.img-action-admin {
                                    width: 15px;
                                    height: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .pagination-admin {
            button {
                font-size: 13px;
            }
        }
    
    }
}

@media (max-width: 1440px) {
    .req-kanban-admin {
        width: 82.5vw;

        max-height: 85vh;
        overflow-y: auto;

        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* Internet Explorer 10+ */

        &::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Opera */
        }

        .header-admin {
            h2 {
                font-size: 25px;
            }

            .img-search-admin input {
                width: 300px;
                height: 40px;
            }
        }

        .table-container-admin {
            table {
                thead {
                    tr {
                        th {
                            font-size: 15px;
                        }
                    }
                }
                tbody {
                    tr {
                        height: 50px;

                        td {
                            font-size: 15px;
                        }

                        .status-admin {
                            font-size: 11px;
                            height: 30px;
                        }

                        .actions-admin {
                            button {
                                &.view-btn-admin {
                                    width: 30px;
                                    height: 30px;
                                }

                                img.img-action-admin {
                                    width: 15px;
                                    height: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .pagination-admin {
            button {
                font-size: 13px;
            }
        }
    }
}

@media (max-width: 1280px) {
    .req-kanban-admin {
        width: 80.5vw;

        max-height: 82vh;
        overflow-y: auto;

        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* Internet Explorer 10+ */

        &::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Opera */
        }

        .header-admin {
            h2 {
                font-size: 25px;
            }

            .img-search-admin input {
                width: 300px;
                height: 35px;
            }
        }

        .table-container-admin {
            table {
                thead {
                    tr {
                        th {
                            font-size: 13px;
                        }
                    }
                }
                tbody {
                    tr {
                        height: 50px;

                        td {
                            font-size: 13px;
                        }

                        .status-admin {
                            font-size: 11px;
                            height: 30px;
                        }
                    }
                }
            }
        }
    }
}
