.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.alert-box-session-confirm {
    background-color: white;
    width: 420px;
    height: 260px;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: "Poppins", sans-serif;
    animation: fadeIn 0.3s ease-in-out;
}

.alert-icon-session-confirm {
    margin-bottom: 15px;
}

.icon-circle-session-confirm {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 15px;

    img {
        width: 70px;
        height: 70px;
    }
}

.alert-content-session-confirm h2 {
    font-family: "Poppins", sans-serif;
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 5px;
}
.alert-content-session-confirm p {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}

.alert-buttons-session-confirm {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 8px;

    .btn-session-confirm {
        font-family: "Poppins", sans-serif;
        width: 170px;
        height: 40px;
        padding: 8px 18px;
        border-radius: 8px;
        font-weight: 600;
        font-size: 15px;
        cursor: pointer;
        box-sizing: border-box;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    }

    .cancel-session-confirm {
        background-color: #0071ff;
        color: white;

        &:hover {
            background-color: #0058d6;
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.9);
    }
}

@media (max-width: 480px) {
    .alert-box-session-confirm {
        width: 360px;
    }

    .alert-content-session-confirm h2 {
        font-size: 16px;
    }

    .alert-content-session-confirm p {
        font-size: 12.7px;
    }

    .alert-buttons-session-confirm {
        margin-top: 40px;
    }
}

@media (max-width: 380px) {
    .alert-box-session-confirm {
        width: 300px;
    }

    .alert-buttons-session-confirm {
        margin-top: 25px;
    }
}
