.container-detail-user {
    padding: 20px 50px;
    width: 87vw;
    height: 100vw;
    font-family: "Poppins", sans-serif;

    .head-detail-user {
        text-align: start;
        font-weight: 700;
        font-style: italic;
        margin-bottom: 17px;
        font-size: 30px;
    }

    .grid-user {
        display: grid;
        padding-top: 8px;
        grid-template-columns: 1.8fr 1fr 2.3fr;
        grid-template-areas:
            "production-date-detail-user parts-number-detail-user parts-number-detail-user"
            "request-name-detail-user classification-detail-user box-detail-user"
            "process-detail-user information-detail-user information-detail-user"
            "location-detail-user information-detail-user information-detail-user";
        gap: 15px 8px;

        .production-date-detail-user {
            grid-area: production-date-detail-user;

            input {
                display: flex;
                width: 180px;
                height: 45px;
            }
        }

        .parts-number-detail-user {
            grid-area: parts-number-detail-user;

            input {
                width: 180px;
                height: 45px;
                display: flex;
            }
        }

        .request-name-detail-user {
            grid-area: request-name-detail-user;

            input {
                display: flex;
                width: 400px;
                height: 45px;
            }
        }

        .classification-detail-user {
            grid-area: classification-detail-user;
            position: relative;
            display: flex;
            flex-direction: column;

            select {
                display: block;
                width: 200px;
                height: 45px;
                padding: 6px 12px;
                padding-right: 36px;
                border-radius: 8px;
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M5%208L10%2013L15%208%22%20stroke%3D%22%23000%22%20stroke-width%3D%222%22/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-position: right 10px center;
                background-size: 16px;
            }
        }

        .box-detail-user {
            grid-area: box-detail-user;

            input {
                display: flex;
                width: 150px;
                height: 45px;
            }
        }

        .process-detail-user {
            grid-area: process-detail-user;

            input {
                display: flex;
                width: 400px;
                height: 45px;
            }
        }

        .information-detail-user {
            grid-area: information-detail-user;

            textarea {
                display: flex;
                width: 700px;
                height: 150px;
                padding: 10px;
                resize: none;
            }
        }

        .location-detail-user {
            grid-area: location-detail-user;

            input {
                display: flex;
                width: 400px;
                height: 45px;
            }
        }

        label {
            font-size: 18px;
            font-weight: 600;
            font-style: italic;
            margin-bottom: 3px;
            display: inline-block;
        }

        input,
        select,
        textarea {
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            padding: 6px 10px;
            border: 1px solid rgba(0, 102, 175, 0.5);
            border-radius: 8px;
            background-color: white;
            font-size: 16px;
            box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
        }
    }
}

.statusContainer-user {
    display: flex;
    gap: 40px;
    padding-top: 25px;
    background-color: #eaf4f9;
    flex-wrap: wrap;
}

.card-user {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    width: 400px;
    height: 190px;
    padding: 0;

    .cardHeader-user {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #0066af;
        width: 400px;
        height: 50px;
        color: white;
        padding: 1rem 15px;
        font-weight: 600;
        font-size: 16px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    .row-user {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.75rem 18px;
        font-size: 14px;
        height: 32px;
        border-bottom: 1px solid #eee;

        &.header-user {
            background-color: #f2f2f2;
            font-weight: bold;
            border-top: 1px solid #eee;
        }

        .role-user {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-weight: 500;

            .approval-icon-user {
                width: 15px;
                height: 15px;
            }
        }

        span {
            font-size: 13px;
            flex: 1;
        }

        span:nth-child(1) {
            flex: 2;
        }
        span:nth-child(2) {
            flex: 2;
        }
    }
}

.button-back-user {
    display: flex;
    justify-content: flex-end;
    padding-top: 45px;
    padding-right: 60px;
}

.backButton-user {
    background: #374dd6;
    font-family: "Poppins", sans-serif;
    width: 200px;
    height: 40px;
    color: white;
    padding: 8px 30px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
        background: #576bf0;
    }
}

@media (max-width: 1700px) {
    .container-detail-user {
        width: 85vw;
        max-height: 87vh;
        overflow-y: auto;

        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* Internet Explorer 10+ */

        &::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Opera */
        }
        .head-detail-user {
            text-align: start;
            font-weight: 700;
            font-style: italic;
            margin-bottom: 17px;
            font-size: 20px;
        }

        .grid-user {
            display: grid;
            padding-top: 8px;
            grid-template-columns: 1.4fr 1fr 1.3fr;
            grid-template-areas:
                "production-date-detail-user parts-number-detail-user parts-number-detail-user"
                "request-name-detail-user classification-detail-user box-detail-user"
                "process-detail-user information-detail-user information-detail-user"
                "location-detail-user information-detail-user information-detail-user";
            gap: 8px 8px;

            .production-date-detail-user {
                grid-area: production-date-detail-user;

                input {
                    display: flex;
                    width: 150px;
                    height: 35px;
                }
            }

            .parts-number-detail-user {
                grid-area: parts-number-detail-user;

                input {
                    width: 150px;
                    height: 35px;
                    display: flex;
                }
            }

            .request-name-detail-user {
                grid-area: request-name-detail-user;

                input {
                    display: flex;
                    width: 280px;
                    height: 35px;
                }
            }

            .classification-detail-user {
                grid-area: classification-detail-user;
                position: relative;
                display: flex;
                flex-direction: column;

                select {
                    display: block;
                    width: 200px;
                    height: 35px;
                    padding: 6px 12px;
                    padding-right: 36px;
                    border-radius: 8px;
                    appearance: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M5%208L10%2013L15%208%22%20stroke%3D%22%23000%22%20stroke-width%3D%222%22/%3E%3C/svg%3E");
                    background-repeat: no-repeat;
                    background-position: right 10px center;
                    background-size: 16px;
                }
            }

            .box-detail-user {
                grid-area: box-detail-user;

                input {
                    display: flex;
                    width: 120px;
                    height: 35px;
                }
            }

            .process-detail-user {
                grid-area: process-detail-user;

                input {
                    display: flex;
                    width: 280px;
                    height: 35px;
                }
            }

            .information-detail-user {
                grid-area: information-detail-user;

                textarea {
                    display: flex;
                    width: 550px;
                    height: 117px;
                    padding: 10px;
                    resize: none;
                }
            }

            .location-detail-user {
                grid-area: location-detail-user;

                input {
                    display: flex;
                    width: 280px;
                    height: 35px;
                }
            }

            label {
                font-size: 14px;
                font-weight: 600;
                font-style: italic;
                margin-bottom: 3px;
                display: inline-block;
            }

            input,
            select,
            textarea {
                font-family: "Poppins", sans-serif;
                font-weight: 500;
                padding: 8px 10px;
                border: 1px solid rgba(0, 102, 175, 0.5);
                border-radius: 8px;
                background-color: white;
                font-size: 13px;
                box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
            }
        }
    }

    .statusContainer-user {
        display: flex;
        gap: 2rem;
        padding-top: 15px;
        background-color: #eaf4f9;
        flex-wrap: wrap;
    }

    .card-user {
        background-color: white;
        border-radius: 6px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
        width: 330px;
        height: 170px;
        padding: 0;

        .cardHeader-user {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #0066af;
            width: 330px;
            height: 40px;
            color: white;
            padding: 1rem 15px;
            font-weight: 600;
            font-size: 11px;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }

        .row-user {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.75rem 18px;
            font-size: 13px;
            height: 32px;
            border-bottom: 1px solid #eee;

            &.header-user {
                background-color: #f2f2f2;
                font-weight: bold;
                border-top: 1px solid #eee;
            }

            .role-user {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                font-weight: 500;

                .approval-icon-user {
                    width: 15px;
                    height: 15px;
                }
            }

            span {
                font-size: 12px;
                flex: 1;
            }

            span:nth-child(1) {
                flex: 2;
            }
            span:nth-child(2) {
                flex: 2;
            }
        }
    }

    .button-back-user {
        display: flex;
        justify-content: flex-end;
        padding-top: 35px;
        padding-right: 30px;
    }

    .backButton-user {
        background: #374dd6;
        font-family: "Poppins", sans-serif;
        width: 150px;
        height: 35px;
        color: white;
        padding: 8px 30px;
        border: none;
        border-radius: 8px;
        font-weight: 600;
        font-size: 13px;
        cursor: pointer;
        transition: background 0.3s;

        &:hover {
            background: #576bf0;
        }
    
    }
}

@media (max-width: 1440px) {
    .container-detail-user {
        width: 82.5vw;
        max-height: 85vh;
        overflow-y: auto;

        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* Internet Explorer 10+ */

        &::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Opera */
        }

        .head-detail-user {
            text-align: start;
            font-weight: 700;
            font-style: italic;
            margin-bottom: 17px;
            font-size: 20px;
        }

        .grid-user {
            display: grid;
            padding-top: 8px;
            grid-template-columns: 1.4fr 1fr 1.3fr;
            grid-template-areas:
                "production-date-detail-user parts-number-detail-user parts-number-detail-user"
                "request-name-detail-user classification-detail-user box-detail-user"
                "process-detail-user information-detail-user information-detail-user"
                "location-detail-user information-detail-user information-detail-user";
            gap: 8px 8px;

            .production-date-detail-user {
                grid-area: production-date-detail-user;

                input {
                    display: flex;
                    width: 150px;
                    height: 35px;
                }
            }

            .parts-number-detail-user {
                grid-area: parts-number-detail-user;

                input {
                    width: 150px;
                    height: 35px;
                    display: flex;
                }
            }

            .request-name-detail-user {
                grid-area: request-name-detail-user;

                input {
                    display: flex;
                    width: 280px;
                    height: 35px;
                }
            }

            .classification-detail-user {
                grid-area: classification-detail-user;
                position: relative;
                display: flex;
                flex-direction: column;

                select {
                    display: block;
                    width: 200px;
                    height: 35px;
                    padding: 6px 12px;
                    padding-right: 36px;
                    border-radius: 8px;
                    appearance: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M5%208L10%2013L15%208%22%20stroke%3D%22%23000%22%20stroke-width%3D%222%22/%3E%3C/svg%3E");
                    background-repeat: no-repeat;
                    background-position: right 10px center;
                    background-size: 16px;
                }
            }

            .box-detail-user {
                grid-area: box-detail-user;

                input {
                    display: flex;
                    width: 120px;
                    height: 35px;
                }
            }

            .process-detail-user {
                grid-area: process-detail-user;

                input {
                    display: flex;
                    width: 280px;
                    height: 35px;
                }
            }

            .information-detail-user {
                grid-area: information-detail-user;

                textarea {
                    display: flex;
                    width: 550px;
                    height: 117px;
                    padding: 10px;
                    resize: none;
                }
            }

            .location-detail-user {
                grid-area: location-detail-user;

                input {
                    display: flex;
                    width: 280px;
                    height: 35px;
                }
            }

            label {
                font-size: 14px;
                font-weight: 600;
                font-style: italic;
                margin-bottom: 3px;
                display: inline-block;
            }

            input,
            select,
            textarea {
                font-family: "Poppins", sans-serif;
                font-weight: 500;
                padding: 8px 10px;
                border: 1px solid rgba(0, 102, 175, 0.5);
                border-radius: 8px;
                background-color: white;
                font-size: 13px;
                box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
            }
        }
    }

    .statusContainer-user {
        display: flex;
        gap: 2rem;
        padding-top: 15px;
        background-color: #eaf4f9;
        flex-wrap: wrap;
    }

    .card-user {
        background-color: white;
        border-radius: 6px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
        width: 330px;
        height: 170px;
        padding: 0;

        .cardHeader-user {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #0066af;
            width: 330px;
            height: 40px;
            color: white;
            padding: 1rem 15px;
            font-weight: 600;
            font-size: 11px;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }

        .row-user {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.75rem 18px;
            font-size: 13px;
            height: 32px;
            border-bottom: 1px solid #eee;

            &.header-user {
                background-color: #f2f2f2;
                font-weight: bold;
                border-top: 1px solid #eee;
            }

            .role-user {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                font-weight: 500;

                .approval-icon-user {
                    width: 15px;
                    height: 15px;
                }
            }

            span {
                font-size: 12px;
                flex: 1;
            }

            span:nth-child(1) {
                flex: 2;
            }
            span:nth-child(2) {
                flex: 2;
            }
        }
    }

    .button-back-user {
        display: flex;
        justify-content: flex-end;
        padding-top: 35px;
        padding-right: 30px;
    }

    .backButton-user {
        background: #374dd6;
        font-family: "Poppins", sans-serif;
        width: 150px;
        height: 35px;
        color: white;
        padding: 8px 30px;
        border: none;
        border-radius: 8px;
        font-weight: 600;
        font-size: 13px;
        cursor: pointer;
        transition: background 0.3s;

        &:hover {
            background: #576bf0;
        }
    }
}

@media (max-width: 1280px) {
    .container-detail-user {
        width: 80.5vw;
        height: 100vw;

        max-height: 82vh;
        overflow-y: auto;

        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* Internet Explorer 10+ */

        &::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Opera */
        }

        .head-detail-user {
            margin-bottom: 17px;
            font-size: 20px;
        }

        .grid-user {
            display: grid;
            padding-top: 8px;
            grid-template-columns: 1.4fr 1fr 1.3fr;
            grid-template-areas:
                "production-date-detail-user parts-number-detail-user parts-number-detail-user"
                "request-name-detail-user classification-detail-user box-detail-user"
                "process-detail-user information-detail-user information-detail-user"
                "location-detail-user information-detail-user information-detail-user";
            gap: 8px 8px;

            .production-date-detail-user {
                grid-area: production-date-detail-user;

                input {
                    display: flex;
                    width: 150px;
                    height: 35px;
                }
            }

            .parts-number-detail-user {
                grid-area: parts-number-detail-user;

                input {
                    width: 150px;
                    height: 35px;
                    display: flex;
                }
            }

            .request-name-detail-user {
                grid-area: request-name-detail-user;

                input {
                    display: flex;
                    width: 260px;
                    height: 35px;
                }
            }

            .classification-detail-user {
                grid-area: classification-detail-user;
                position: relative;
                display: flex;
                flex-direction: column;

                select {
                    display: block;
                    width: 200px;
                    height: 35px;
                    padding: 6px 12px;
                    padding-right: 36px;
                    border-radius: 8px;
                    appearance: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M5%208L10%2013L15%208%22%20stroke%3D%22%23000%22%20stroke-width%3D%222%22/%3E%3C/svg%3E");
                    background-repeat: no-repeat;
                    background-position: right 10px center;
                    background-size: 16px;
                }
            }

            .box-detail-user {
                grid-area: box-detail-user;

                input {
                    display: flex;
                    width: 120px;
                    height: 35px;
                }
            }

            .process-detail-user {
                grid-area: process-detail-user;

                input {
                    display: flex;
                    width: 260px;
                    height: 35px;
                }
            }

            .information-detail-user {
                grid-area: information-detail-user;

                textarea {
                    display: flex;
                    width: 550px;
                    height: 117px;
                    padding: 10px;
                    resize: none;
                }
            }

            .location-detail-user {
                grid-area: location-detail-user;

                input {
                    display: flex;
                    width: 260px;
                    height: 35px;
                }
            }

            label {
                font-size: 13px;
                font-weight: 600;
                font-style: italic;
                margin-bottom: 3px;
                display: inline-block;
            }

            input,
            select,
            textarea {
                font-family: "Poppins", sans-serif;
                font-weight: 500;
                padding: 8px 10px;
                border: 1px solid rgba(0, 102, 175, 0.5);
                border-radius: 8px;
                background-color: white;
                font-size: 13px;
                box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
            }
        }
    }

    .statusContainer-user {
        display: flex;
        gap: 2rem;
        padding-top: 15px;
        background-color: #eaf4f9;
        flex-wrap: wrap;
    }

    .card-user {
        background-color: white;
        border-radius: 6px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
        width: 330px;
        height: 170px;
        padding: 0;

        .cardHeader-user {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #0066af;
            width: 330px;
            height: 40px;
            color: white;
            padding: 1rem 15px;
            font-weight: 600;
            font-size: 11px;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }

        .row-user {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.75rem 18px;
            font-size: 13px;
            height: 32px;
            border-bottom: 1px solid #eee;

            &.header-user {
                background-color: #f2f2f2;
                font-weight: bold;
                border-top: 1px solid #eee;
            }

            .role-user {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                font-weight: 500;

                .approval-icon-user {
                    width: 15px;
                    height: 15px;
                }
            }

            span {
                font-size: 12px;
                flex: 1;
            }

            span:nth-child(1) {
                flex: 2;
            }
            span:nth-child(2) {
                flex: 2;
            }
        }
    }

    .button-back-user {
        display: flex;
        justify-content: flex-end;
        padding-top: 35px;
        padding-right: 20px;
    }

    .backButton-user {
        background: #374dd6;
        font-family: "Poppins", sans-serif;
        width: 150px;
        height: 35px;
        color: white;
        padding: 8px 30px;
        border: none;
        border-radius: 8px;
        font-weight: 600;
        font-size: 13px;
        cursor: pointer;
        transition: background 0.3s;

        &:hover {
            background: #576bf0;
        }
    }
}
